<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigecApp.zoneExamen.home.title">Zone Examen</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zone-examen" [routerLink]="['/zone-examen/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sigecApp.zoneExamen.home.createLabel">
            Create new Zone Examen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="zoneExamen">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codeZoneExamen"><span jhiTranslate="sigecApp.zoneExamen.codeZoneExamen">Code Zone Examen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="libelleZoneExamen"><span jhiTranslate="sigecApp.zoneExamen.libelleZoneExamen">Libelle Zone Examen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="centreExamenId"><span jhiTranslate="sigecApp.zoneExamen.centreExamen">Centre Examen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let zoneExamen of zoneExamen ;trackBy: trackId">
                <td><a [routerLink]="['/zone-examen', zoneExamen.id, 'view' ]">{{zoneExamen.id}}</a></td>
                <td>{{zoneExamen.codeZoneExamen}}</td>
                <td>{{zoneExamen.libelleZoneExamen}}</td>
                <td>
                    <div *ngIf="zoneExamen.centreExamenId">
                        <a [routerLink]="['../centre-examen', zoneExamen.centreExamenId , 'view' ]" >{{zoneExamen.centreExamenId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/zone-examen', zoneExamen.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zone-examen', zoneExamen.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'zone-examen', { outlets: { popup: zoneExamen.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
