<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-enseigne-heading" jhiTranslate="sigecApp.enseigne.home.createOrEditLabel">Create or edit a Enseigne</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!enseigne.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="enseigne.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.enseigne.classeEnseigne" for="field_classeEnseigne">Classe Enseigne</label>
                    <input type="text" class="form-control" name="classeEnseigne" id="field_classeEnseigne"
                        [(ngModel)]="enseigne.classeEnseigne" required/>
                    <div [hidden]="!(editForm.controls.classeEnseigne?.dirty && editForm.controls.classeEnseigne?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.classeEnseigne?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.enseigne.etablissement" for="field_etablissement">Etablissement</label>
                    <select class="form-control" id="field_etablissement" name="etablissement" [(ngModel)]="enseigne.etablissementId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="etablissementOption.id" *ngFor="let etablissementOption of etablissements; trackBy: trackEtablissementById">{{etablissementOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.enseigne.enseignant" for="field_enseignant">Enseignant</label>
                    <select class="form-control" id="field_enseignant" name="enseignant" [(ngModel)]="enseigne.enseignantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enseignantOption.id" *ngFor="let enseignantOption of enseignants; trackBy: trackEnseignantById">{{enseignantOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.enseigne.session" for="field_session">Session</label>
                    <select class="form-control" id="field_session" name="session" [(ngModel)]="enseigne.sessionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sessionOption.id" *ngFor="let sessionOption of sessions; trackBy: trackSessionById">{{sessionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
