<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigecApp.noteMembreCritere.home.title">Note Membre Criteres</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-note-membre-critere" [routerLink]="['/note-membre-critere/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sigecApp.noteMembreCritere.home.createLabel">
            Create new Note Membre Critere
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="noteMembreCriteres">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valeurNote"><span jhiTranslate="sigecApp.noteMembreCritere.valeurNote">Valeur Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="membreJuryId"><span jhiTranslate="sigecApp.noteMembreCritere.membreJury">Membre Jury</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="critereChoixMembreJuryId"><span jhiTranslate="sigecApp.noteMembreCritere.critereChoixMembreJury">Critere Choix Membre Jury</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let noteMembreCritere of noteMembreCriteres ;trackBy: trackId">
                <td><a [routerLink]="['/note-membre-critere', noteMembreCritere.id, 'view' ]">{{noteMembreCritere.id}}</a></td>
                <td>{{noteMembreCritere.valeurNote}}</td>
                <td>
                    <div *ngIf="noteMembreCritere.membreJuryId">
                        <a [routerLink]="['../membre-jury', noteMembreCritere.membreJuryId , 'view' ]" >{{noteMembreCritere.membreJuryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="noteMembreCritere.critereChoixMembreJuryId">
                        <a [routerLink]="['../critere-choix-membre-jury', noteMembreCritere.critereChoixMembreJuryId , 'view' ]" >{{noteMembreCritere.critereChoixMembreJuryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/note-membre-critere', noteMembreCritere.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/note-membre-critere', noteMembreCritere.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'note-membre-critere', { outlets: { popup: noteMembreCritere.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
