<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="centreExamen">
            <h2><span jhiTranslate="sigecApp.centreExamen.detail.title">Centre Examen</span> {{centreExamen.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigecApp.centreExamen.libelleCentreExamen">Libelle Centre Examen</span></dt>
                <dd>
                    <span>{{centreExamen.libelleCentreExamen}}</span>
                </dd>
                <dt><span jhiTranslate="sigecApp.centreExamen.region">Region</span></dt>
                <dd>
                    <div *ngIf="centreExamen.regionId">
                        <a [routerLink]="['/region', centreExamen.regionId, 'view']">{{centreExamen.regionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/centre-examen', centreExamen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
