<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigecApp.centreExamen.home.title">Centre Examen</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-centre-examen" [routerLink]="['/centre-examen/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sigecApp.centreExamen.home.createLabel">
            Create new Centre Examen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="centreExamen">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="libelleCentreExamen"><span jhiTranslate="sigecApp.centreExamen.libelleCentreExamen">Libelle Centre Examen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regionId"><span jhiTranslate="sigecApp.centreExamen.region">Region</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let centreExamen of centreExamen ;trackBy: trackId">
                <td><a [routerLink]="['/centre-examen', centreExamen.id, 'view' ]">{{centreExamen.id}}</a></td>
                <td>{{centreExamen.libelleCentreExamen}}</td>
                <td>
                    <div *ngIf="centreExamen.regionId">
                        <a [routerLink]="['../region', centreExamen.regionId , 'view' ]" >{{centreExamen.regionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/centre-examen', centreExamen.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/centre-examen', centreExamen.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'centre-examen', { outlets: { popup: centreExamen.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
