<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="epreuve">
            <h2><span jhiTranslate="sigecApp.epreuve.detail.title">Epreuve</span> {{epreuve.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigecApp.epreuve.libelle">Libelle</span></dt>
                <dd>
                    <span>{{epreuve.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="sigecApp.epreuve.typeEpreuve">Type Epreuve</span></dt>
                <dd>
                    <div *ngIf="epreuve.typeEpreuveId">
                        <a [routerLink]="['/type-epreuve', epreuve.typeEpreuveId, 'view']">{{epreuve.typeEpreuveId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/epreuve', epreuve.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
