<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigecApp.epreuve.home.title">Epreuves</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-epreuve" [routerLink]="['/epreuve/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sigecApp.epreuve.home.createLabel">
            Create new Epreuve
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="epreuves">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="libelle"><span jhiTranslate="sigecApp.epreuve.libelle">Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeEpreuveId"><span jhiTranslate="sigecApp.epreuve.typeEpreuve">Type Epreuve</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let epreuve of epreuves ;trackBy: trackId">
                <td><a [routerLink]="['/epreuve', epreuve.id, 'view' ]">{{epreuve.id}}</a></td>
                <td>{{epreuve.libelle}}</td>
                <td>
                    <div *ngIf="epreuve.typeEpreuveId">
                        <a [routerLink]="['../type-epreuve', epreuve.typeEpreuveId , 'view' ]" >{{epreuve.typeEpreuveId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/epreuve', epreuve.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/epreuve', epreuve.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'epreuve', { outlets: { popup: epreuve.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
