<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="groupeEpreuve">
            <h2><span jhiTranslate="sigecApp.groupeEpreuve.detail.title">Groupe Epreuve</span> {{groupeEpreuve.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigecApp.groupeEpreuve.libelle">Libelle</span></dt>
                <dd>
                    <span>{{groupeEpreuve.libelle}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/groupe-epreuve', groupeEpreuve.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
