<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-specialite-option-heading" jhiTranslate="sigecApp.specialiteOption.home.createOrEditLabel">Create or edit a Specialite Option</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!specialiteOption.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="specialiteOption.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.specialiteOption.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                        [(ngModel)]="specialiteOption.libelle" required/>
                    <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libelle?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.specialiteOption.typeExamen" for="field_typeExamen">Type Examen</label>
                    <select class="form-control" id="field_typeExamen" name="typeExamen" [(ngModel)]="specialiteOption.typeExamenId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeExamenOption.id" *ngFor="let typeExamenOption of typeexamen; trackBy: trackTypeExamenById">{{typeExamenOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.specialiteOption.filiere" for="field_filiere">Filiere</label>
                    <select class="form-control" id="field_filiere" name="filiere" [(ngModel)]="specialiteOption.filiereId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="filiereOption.id" *ngFor="let filiereOption of filieres; trackBy: trackFiliereById">{{filiereOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
