<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigecApp.etapeExamen.home.title">Etape Examen</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etape-examen" [routerLink]="['/etape-examen/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sigecApp.etapeExamen.home.createLabel">
            Create new Etape Examen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="etapeExamen">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="libelleEtapeExamen"><span jhiTranslate="sigecApp.etapeExamen.libelleEtapeExamen">Libelle Etape Examen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeExamenId"><span jhiTranslate="sigecApp.etapeExamen.typeExamen">Type Examen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let etapeExamen of etapeExamen ;trackBy: trackId">
                <td><a [routerLink]="['/etape-examen', etapeExamen.id, 'view' ]">{{etapeExamen.id}}</a></td>
                <td>{{etapeExamen.libelleEtapeExamen}}</td>
                <td>
                    <div *ngIf="etapeExamen.typeExamenId">
                        <a [routerLink]="['../type-examen', etapeExamen.typeExamenId , 'view' ]" >{{etapeExamen.typeExamenId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/etape-examen', etapeExamen.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/etape-examen', etapeExamen.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'etape-examen', { outlets: { popup: etapeExamen.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
