<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeEtablissement">
            <h2><span jhiTranslate="sigecApp.typeEtablissement.detail.title">Type Etablissement</span> {{typeEtablissement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigecApp.typeEtablissement.libelleTypeEtablissement">Libelle Type Etablissement</span></dt>
                <dd>
                    <span>{{typeEtablissement.libelleTypeEtablissement}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-etablissement', typeEtablissement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
