<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-type-etablissement-heading" jhiTranslate="sigecApp.typeEtablissement.home.createOrEditLabel">Create or edit a Type Etablissement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!typeEtablissement.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="typeEtablissement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.typeEtablissement.libelleTypeEtablissement" for="field_libelleTypeEtablissement">Libelle Type Etablissement</label>
                    <input type="text" class="form-control" name="libelleTypeEtablissement" id="field_libelleTypeEtablissement"
                        [(ngModel)]="typeEtablissement.libelleTypeEtablissement" required/>
                    <div [hidden]="!(editForm.controls.libelleTypeEtablissement?.dirty && editForm.controls.libelleTypeEtablissement?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libelleTypeEtablissement?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
