<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigecApp.retraitDiplome.home.title">Retrait Diplomes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-retrait-diplome" [routerLink]="['/retrait-diplome/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sigecApp.retraitDiplome.home.createLabel">
            Create new Retrait Diplome
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="retraitDiplomes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateRetrait"><span jhiTranslate="sigecApp.retraitDiplome.dateRetrait">Date Retrait</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resultatId"><span jhiTranslate="sigecApp.retraitDiplome.resultat">Resultat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeDiplomeId"><span jhiTranslate="sigecApp.retraitDiplome.typeDiplome">Type Diplome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let retraitDiplome of retraitDiplomes ;trackBy: trackId">
                <td><a [routerLink]="['/retrait-diplome', retraitDiplome.id, 'view' ]">{{retraitDiplome.id}}</a></td>
                <td>{{retraitDiplome.dateRetrait | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="retraitDiplome.resultatId">
                        <a [routerLink]="['../resultat', retraitDiplome.resultatId , 'view' ]" >{{retraitDiplome.resultatId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="retraitDiplome.typeDiplomeId">
                        <a [routerLink]="['../type-diplome', retraitDiplome.typeDiplomeId , 'view' ]" >{{retraitDiplome.typeDiplomeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/retrait-diplome', retraitDiplome.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/retrait-diplome', retraitDiplome.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'retrait-diplome', { outlets: { popup: retraitDiplome.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
