<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-retrait-diplome-heading" jhiTranslate="sigecApp.retraitDiplome.home.createOrEditLabel">Create or edit a Retrait Diplome</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!retraitDiplome.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="retraitDiplome.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.retraitDiplome.dateRetrait" for="field_dateRetrait">Date Retrait</label>
                    <div class="input-group">
                        <input id="field_dateRetrait" type="text" class="form-control" name="dateRetrait" ngbDatepicker  #dateRetraitDp="ngbDatepicker" [(ngModel)]="retraitDiplome.dateRetrait"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateRetraitDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateRetrait?.dirty && editForm.controls.dateRetrait?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateRetrait?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.retraitDiplome.resultat" for="field_resultat">Resultat</label>
                    <select class="form-control" id="field_resultat" name="resultat" [(ngModel)]="retraitDiplome.resultatId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resultatOption.id" *ngFor="let resultatOption of resultats; trackBy: trackResultatById">{{resultatOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.retraitDiplome.typeDiplome" for="field_typeDiplome">Type Diplome</label>
                    <select class="form-control" id="field_typeDiplome" name="typeDiplome" [(ngModel)]="retraitDiplome.typeDiplomeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeDiplomeOption.id" *ngFor="let typeDiplomeOption of typediplomes; trackBy: trackTypeDiplomeById">{{typeDiplomeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
