<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="membreJury">
            <h2><span jhiTranslate="sigecApp.membreJury.detail.title">Membre Jury</span> {{membreJury.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigecApp.membreJury.nomMembre">Nom Membre</span></dt>
                <dd>
                    <span>{{membreJury.nomMembre}}</span>
                </dd>
                <dt><span jhiTranslate="sigecApp.membreJury.prenomMembre">Prenom Membre</span></dt>
                <dd>
                    <span>{{membreJury.prenomMembre}}</span>
                </dd>
                <dt><span jhiTranslate="sigecApp.membreJury.numeroCNIB">Numero CNIB</span></dt>
                <dd>
                    <span>{{membreJury.numeroCNIB}}</span>
                </dd>
                <dt><span jhiTranslate="sigecApp.membreJury.matricule">Matricule</span></dt>
                <dd>
                    <span>{{membreJury.matricule}}</span>
                </dd>
                <dt><span jhiTranslate="sigecApp.membreJury.fraude">Fraude</span></dt>
                <dd>
                    <span *ngFor="let fraude of membreJury.fraudes; let last = last">
                        <a [routerLink]="['/fraude', fraude?.id, 'view' ]">{{fraude.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="sigecApp.membreJury.compositionCopie">Composition Copie</span></dt>
                <dd>
                    <span *ngFor="let compositionCopie of membreJury.compositionCopies; let last = last">
                        <a [routerLink]="['/composition-copie', compositionCopie?.id, 'view' ]">{{compositionCopie.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="sigecApp.membreJury.typeMembreJury">Type Membre Jury</span></dt>
                <dd>
                    <div *ngIf="membreJury.typeMembreJuryId">
                        <a [routerLink]="['/type-membre-jury', membreJury.typeMembreJuryId, 'view']">{{membreJury.typeMembreJuryId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/membre-jury', membreJury.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
