<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-option-concours-rattache-heading" jhiTranslate="sigecApp.optionConcoursRattache.home.createOrEditLabel">Create or edit a Option Concours Rattache</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!optionConcoursRattache.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="optionConcoursRattache.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.optionConcoursRattache.libelleOptionConcoursRattache" for="field_libelleOptionConcoursRattache">Libelle Option Concours Rattache</label>
                    <input type="text" class="form-control" name="libelleOptionConcoursRattache" id="field_libelleOptionConcoursRattache"
                        [(ngModel)]="optionConcoursRattache.libelleOptionConcoursRattache" required/>
                    <div [hidden]="!(editForm.controls.libelleOptionConcoursRattache?.dirty && editForm.controls.libelleOptionConcoursRattache?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libelleOptionConcoursRattache?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.optionConcoursRattache.concoursRattache" for="field_concoursRattache">Concours Rattache</label>
                    <select class="form-control" id="field_concoursRattache" name="concoursRattache" [(ngModel)]="optionConcoursRattache.concoursRattacheId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="concoursRattacheOption.id" *ngFor="let concoursRattacheOption of concoursrattaches; trackBy: trackConcoursRattacheById">{{concoursRattacheOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
