<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigecApp.choixEtablissement.home.title">Choix Etablissements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-choix-etablissement" [routerLink]="['/choix-etablissement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sigecApp.choixEtablissement.home.createLabel">
            Create new Choix Etablissement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="choixEtablissements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="priorite"><span jhiTranslate="sigecApp.choixEtablissement.priorite">Priorite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inscriptionId"><span jhiTranslate="sigecApp.choixEtablissement.inscription">Inscription</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="etablissementId"><span jhiTranslate="sigecApp.choixEtablissement.etablissement">Etablissement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="specialiteOptionId"><span jhiTranslate="sigecApp.choixEtablissement.specialiteOption">Specialite Option</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let choixEtablissement of choixEtablissements ;trackBy: trackId">
                <td><a [routerLink]="['/choix-etablissement', choixEtablissement.id, 'view' ]">{{choixEtablissement.id}}</a></td>
                <td>{{choixEtablissement.priorite}}</td>
                <td>
                    <div *ngIf="choixEtablissement.inscriptionId">
                        <a [routerLink]="['../inscription', choixEtablissement.inscriptionId , 'view' ]" >{{choixEtablissement.inscriptionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="choixEtablissement.etablissementId">
                        <a [routerLink]="['../etablissement', choixEtablissement.etablissementId , 'view' ]" >{{choixEtablissement.etablissementId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="choixEtablissement.specialiteOptionId">
                        <a [routerLink]="['../specialite-option', choixEtablissement.specialiteOptionId , 'view' ]" >{{choixEtablissement.specialiteOptionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/choix-etablissement', choixEtablissement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/choix-etablissement', choixEtablissement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'choix-etablissement', { outlets: { popup: choixEtablissement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
