<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeCentreComposition">
            <h2><span jhiTranslate="sigecApp.typeCentreComposition.detail.title">Type Centre Composition</span> {{typeCentreComposition.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigecApp.typeCentreComposition.libelleTypeCentreComposition">Libelle Type Centre Composition</span></dt>
                <dd>
                    <span>{{typeCentreComposition.libelleTypeCentreComposition}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-centre-composition', typeCentreComposition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
