<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeMembreJury">
            <h2><span jhiTranslate="sigecApp.typeMembreJury.detail.title">Type Membre Jury</span> {{typeMembreJury.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigecApp.typeMembreJury.libelle">Libelle</span></dt>
                <dd>
                    <span>{{typeMembreJury.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="sigecApp.typeMembreJury.critereChoixMembreJury">Critere Choix Membre Jury</span></dt>
                <dd>
                    <span *ngFor="let critereChoixMembreJury of typeMembreJury.critereChoixMembreJuries; let last = last">
                        <a [routerLink]="['/critere-choix-membre-jury', critereChoixMembreJury?.id, 'view' ]">{{critereChoixMembreJury.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-membre-jury', typeMembreJury.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
