<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-type-membre-jury-heading" jhiTranslate="sigecApp.typeMembreJury.home.createOrEditLabel">Create or edit a Type Membre Jury</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!typeMembreJury.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="typeMembreJury.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.typeMembreJury.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                        [(ngModel)]="typeMembreJury.libelle" required/>
                    <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libelle?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="sigecApp.typeMembreJury.critereChoixMembreJury" for="field_critereChoixMembreJury">Critere Choix Membre Jury</label>
                    <select class="form-control" id="field_critereChoixMembreJury" multiple name="critereChoixMembreJury" [(ngModel)]="typeMembreJury.critereChoixMembreJuries">
                        <option [ngValue]="getSelected(typeMembreJury.critereChoixMembreJuries, critereChoixMembreJuryOption)" *ngFor="let critereChoixMembreJuryOption of criterechoixmembrejuries; trackBy: trackCritereChoixMembreJuryById">{{critereChoixMembreJuryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
