<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-candidat-heading" jhiTranslate="sigecApp.candidat.home.createOrEditLabel">Create or edit a Candidat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!candidat.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="candidat.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.codeCandidat" for="field_codeCandidat">Code Candidat</label>
                    <input type="text" class="form-control" name="codeCandidat" id="field_codeCandidat"
                        [(ngModel)]="candidat.codeCandidat" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.nomCandidat" for="field_nomCandidat">Nom Candidat</label>
                    <input type="text" class="form-control" name="nomCandidat" id="field_nomCandidat"
                        [(ngModel)]="candidat.nomCandidat" required/>
                    <div [hidden]="!(editForm.controls.nomCandidat?.dirty && editForm.controls.nomCandidat?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nomCandidat?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.prenomCandidat" for="field_prenomCandidat">Prenom Candidat</label>
                    <input type="text" class="form-control" name="prenomCandidat" id="field_prenomCandidat"
                        [(ngModel)]="candidat.prenomCandidat" required/>
                    <div [hidden]="!(editForm.controls.prenomCandidat?.dirty && editForm.controls.prenomCandidat?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenomCandidat?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker  #dateNaissanceDp="ngbDatepicker" [(ngModel)]="candidat.dateNaissance"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateNaissance?.dirty && editForm.controls.dateNaissance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
                    <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                        [(ngModel)]="candidat.lieuNaissance" required/>
                    <div [hidden]="!(editForm.controls.lieuNaissance?.dirty && editForm.controls.lieuNaissance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lieuNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.paysNaissance" for="field_paysNaissance">Pays Naissance</label>
                    <input type="text" class="form-control" name="paysNaissance" id="field_paysNaissance"
                        [(ngModel)]="candidat.paysNaissance" required/>
                    <div [hidden]="!(editForm.controls.paysNaissance?.dirty && editForm.controls.paysNaissance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paysNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.sexe" for="field_sexe">Sexe</label>
                    <select class="form-control" name="sexe" [(ngModel)]="candidat.sexe" id="field_sexe"  required>
                        <option value="MASCULIN">{{'sigecApp.Sexe.MASCULIN' | translate}}</option>
                        <option value="FEMININ">{{'sigecApp.Sexe.FEMININ' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.sexe?.dirty && editForm.controls.sexe?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sexe?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.telephoneCandidat" for="field_telephoneCandidat">Telephone Candidat</label>
                    <input type="text" class="form-control" name="telephoneCandidat" id="field_telephoneCandidat"
                        [(ngModel)]="candidat.telephoneCandidat" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.nationaliteCandidat" for="field_nationaliteCandidat">Nationalite Candidat</label>
                    <input type="text" class="form-control" name="nationaliteCandidat" id="field_nationaliteCandidat"
                        [(ngModel)]="candidat.nationaliteCandidat" required/>
                    <div [hidden]="!(editForm.controls.nationaliteCandidat?.dirty && editForm.controls.nationaliteCandidat?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nationaliteCandidat?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.matriculeCandidat" for="field_matriculeCandidat">Matricule Candidat</label>
                    <input type="text" class="form-control" name="matriculeCandidat" id="field_matriculeCandidat"
                        [(ngModel)]="candidat.matriculeCandidat" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.dateEnregistrementCandidat" for="field_dateEnregistrementCandidat">Date Enregistrement Candidat</label>
                    <div class="input-group">
                        <input id="field_dateEnregistrementCandidat" type="text" class="form-control" name="dateEnregistrementCandidat" ngbDatepicker  #dateEnregistrementCandidatDp="ngbDatepicker" [(ngModel)]="candidat.dateEnregistrementCandidat"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEnregistrementCandidatDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigecApp.candidat.dateDebutCariereCandidat" for="field_dateDebutCariereCandidat">Date Debut Cariere Candidat</label>
                    <div class="input-group">
                        <input id="field_dateDebutCariereCandidat" type="text" class="form-control" name="dateDebutCariereCandidat" ngbDatepicker  #dateDebutCariereCandidatDp="ngbDatepicker" [(ngModel)]="candidat.dateDebutCariereCandidat"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutCariereCandidatDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
