<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pieceAConviction">
            <h2><span jhiTranslate="sigecApp.pieceAConviction.detail.title">Piece A Conviction</span> {{pieceAConviction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigecApp.pieceAConviction.libellePieceAconviction">Libelle Piece Aconviction</span></dt>
                <dd>
                    <span>{{pieceAConviction.libellePieceAconviction}}</span>
                </dd>
                <dt><span jhiTranslate="sigecApp.pieceAConviction.fraude">Fraude</span></dt>
                <dd>
                    <div *ngIf="pieceAConviction.fraudeId">
                        <a [routerLink]="['/fraude', pieceAConviction.fraudeId, 'view']">{{pieceAConviction.fraudeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/piece-a-conviction', pieceAConviction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
