<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigecApp.fraude.home.title">Fraudes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fraude" [routerLink]="['/fraude/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sigecApp.fraude.home.createLabel">
            Create new Fraude
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fraudes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="libelleFraude"><span jhiTranslate="sigecApp.fraude.libelleFraude">Libelle Fraude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeFraudeId"><span jhiTranslate="sigecApp.fraude.typeFraude">Type Fraude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inscriptionId"><span jhiTranslate="sigecApp.fraude.inscription">Inscription</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let fraude of fraudes ;trackBy: trackId">
                <td><a [routerLink]="['/fraude', fraude.id, 'view' ]">{{fraude.id}}</a></td>
                <td>{{fraude.libelleFraude}}</td>
                <td>
                    <div *ngIf="fraude.typeFraudeId">
                        <a [routerLink]="['../type-fraude', fraude.typeFraudeId , 'view' ]" >{{fraude.typeFraudeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="fraude.inscriptionId">
                        <a [routerLink]="['../inscription', fraude.inscriptionId , 'view' ]" >{{fraude.inscriptionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fraude', fraude.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fraude', fraude.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'fraude', { outlets: { popup: fraude.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
